<!-- <p>{{datos.title}}</p> -->
<h2 class="font-weight-bold text-primary">{{datos.title}}</h2>
<hr>
<div class="row d-flex align-items-start ">
  <div class="col-lg-4 col-12  d-flex align-items-center mb-3  flex-column " style="max-height: 50%;">
      <img src="{{dataService.urlImg}}{{datos.poster_path}}" class="rounded " alt="{{datos.title}}" width="300px"  style="max-height: 100%;">
    <button class="btn mt-3 {{botonFavclass}}" (click)="addFavorito()">{{botonFav}}</button>
  </div>
  <div class="col-lg-8 col-12 pl-4 mt-3">
    <p><span class="font-weight-bold">Titulo Original: </span>{{datos.original_title}}</p>
    <p><span class="font-weight-bold">Fecha de estreno: </span>{{datos.release_date}}</p>
    <p><span class="font-weight-bold">Descripción: </span>{{datos.overview}}</p>
    <p><span class="font-weight-bold">Popularidad: </span>{{datos.popularity}}</p>
    <p><span class="font-weight-bold">Puntuación media: </span>{{datos.vote_average}}</p>
    <p><span class="font-weight-bold">Número de votos: </span>{{datos.vote_count}}</p>
    <p><span class="font-weight-bold">Estrellas: </span>{{datos.vote_average/2}}</p> <!-- Puntuacion media / 2 (maximo 5 estrellas) -->
    <p><span class="font-weight-bold">Casting: </span >{{datos.cast}}</p> <!-- Puntuacion media / 2 (maximo 5 estrellas) -->
    
  </div>
</div>
