<ul class="pagination">
    <li class="page-item  mx-1" [ngClass]="{'disabled' : paginaActual ===1}">
      <button class="page-link" (click)="anterior()" >Anterior</button>
    </li>
    

      <app-pagination-page *ngFor="let p of paginas"  [numero] = "p" [pactual] = "paginaActual"(eventCambioPagina)="paginaActual = $event; nuevasPeliculas()" ></app-pagination-page>
    
    
    <li class="page-item mx-1" [ngClass]="{'disabled' : paginaActual ===totalPaginas}">
      <button class="page-link " (click)="siguiente()" >Siguiente</button>
    </li>
 </ul>