
<div class="card  " style="width: 15rem;">
     <div class=" d-flex justify-content-end " style="z-index: 5;">

        <h4 class="bg-primary rounded d-inline-block px-3 py-2 font-weight-bold text-light mr-2 mt-2 " >{{index}}</h4>
    </div> 
    <img class="card-img-top"   src="{{dataService.urlImg}}{{imagen}}" alt="" style="margin-top: -60px;z-index:1;">
    <div class="card-body">
        <h5 class="card-title  d-flex justify-content-center ">{{titulo}}</h5>
        
        <a href="movie" class="btn btn-outline-primary d-flex justify-content-center w-100 "  (click)="enviarPelicula()">ver más</a>
    </div>
</div>

    