<h1 class="font-weight-bold text-primary">Lista de peliculas favoritas</h1>
<div class="d-flex justify-content-between ">
    <h5>(orden: mayor a menor por media de puntuación)</h5>
    <button class="btn btn-outline-danger  " (click)="reset()">Reset</button>
</div>
<hr>
<div class="row justify-content-between align-items-center ">

    <div class="mb-3" *ngFor="let pelicula of peliculas.slice(((peliculasPagina-1)*20),(peliculasPagina*20)); let i = index">
        <app-list  [titulo] = "pelicula['title']" [imagen]="this.pelicula['poster_path']" [id]="pelicula['id']" [pelicula]="pelicula" [index]="(i+1)+(20*(peliculasPagina-1))"></app-list>
    </div>
</div>
<hr>
<div class="d-flex justify-content-center ">
    <app-pagination [totalPaginas]="this.numPaginas" (eventCambioPagina)="peliculasPagina = $event;" ></app-pagination>
</div>