<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand font-weight-bold" href="home">
      <img src="https://image.flaticon.com/icons/png/512/4222/4222068.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Peliculas
    </a>
    <a class="nav-item nav-link text-light" href="user/favorites">Favoritos</a>
    
    
  </nav>